sgb-reports/inscricao/completo/documentacao.jasper
sgb-reports/inscricao/completo/inscricao-beneficios.jasper
sgb-reports/inscricao/completo/nucleo-familiar.jasper
sgb-reports/inscricao/completo/renda-familiar.jasper
sgb-reports/inscricao/completo/inscricao-outras-bolsas.jasper
sgb-reports/inscricao/simples/inscricao2.jasper
sgb-reports/inscricao/completo/documentacao-beneficios.jasper
sgb-reports/inscricao/completo/documentacao-especifica.jasper
sgb-reports/inscricao/completo/endereco-familiar.jasper